* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo {
    font-family: 'Poppins', Courier, monospace;
    background-color: #003049;
    color: #EAE2B7;
    text-align: center;
    border: solid 2px #EAE2B7;
}
.estudios {
    font-family: 'Poppins', Courier, monospace;
    background-color: #ab2424c3;
    color: #EAE2B7;
    border: solid 2px #EAE2B7;
}
.habilidades {
    font-family: 'Poppins', Courier, monospace;
    background-color: #bc6100b7;
    color: #EAE2B7;
    border: solid 2px #EAE2B7;
}
.proyectos{
    font-family: 'Poppins', Courier, monospace;
    background-color: #003049;
    color: #EAE2B7;
    border: solid 2px #EAE2B7;
}
.empleo{
    font-family: 'Poppins', Courier, monospace;
    background-color: #ab2424c3;
    color: #EAE2B7;
    border: solid 2px #EAE2B7;
}
.card {
    margin: auto;
    border: solid 2px #EAE2B7;
}
.card-header {
    background-color: #ce4747;
    color: #EAE2B7
}
.card-text {
    color: #EAE2B7
}
.card-title {
    color: #EAE2B7;
}
.card-body {
    background-color: #ab2424;
}
.text-aprendizaje {
    border: solid 2px #003049;
    padding: 5px;
}
.text-asertividad {
    border: solid 2px #003049;
    padding: 5px;
}
.text-resolucion {
    border: solid 2px #003049;
    padding: 5px;
}
.form-label {
    color: #EAE2B7;
}
.referencias {
    color: #EAE2B7;
    background-color: #003049;
    border: solid 2px #EAE2B7;
}
main.contacto{
    background-color: #003049;
    border: solid 2px #EAE2B7;
}
h4.refer {
    padding-top: 10px;
    text-align: center;
    font-family: 'Poppins', Courier, monospace;
}
p.cargo {
    text-align: center;
    font-family: 'Poppins', Courier, monospace;
}
blockquote {
    text-align:justify;
    padding: 30px;
    font-family: 'Poppins', Courier, monospace;
}
h2 {
    font-family: 'Poppins', Courier, monospace;
}
form {
    font-family: 'Poppins', Courier, monospace;
    padding: 30px;
}
footer{
    background-color: antiquewhite;
}
.container {
    font-family: 'Poppins', Courier, monospace;
}
.navbar {
    font-family: 'Poppins', Courier, monospace;
}
.contacto > h2 {
    color: #EAE2B7;
    font-family: 'Poppins', Courier, monospace;
}
.success {
    font-family: 'Poppins', Courier, monospace;
    background-color: #003049;
    color: #EAE2B7;
    border: solid 2px #EAE2B7;
}